header{
    width: 90%;
    margin: auto;
}

#year{
    background-color: blue;
    height: 100px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#main-calendar{
    width: 70%;
    height: 500px;
    background-color: #F4fcff;
    border-bottom-left-radius: 10px;
}

#day-details{
    width: 30%;
    height: 500px;
    background-color: cadetblue;
    border-bottom-right-radius: 10px;
}

h1{
    color: white;
}

.seta{
    height: 70px;
    width: 10%;
    color: white;
}

#stDir{
    color: white;
    background-color: transparent;
    border: none;
    padding: 0%;
    font-size: 70px;
}

#stEsq{
    color: white;
    background-color: transparent;
    border: none;
    padding: 0%;
    font-size: 70px;
}

#ano{
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
}

table{
    width: 100%;
    
}

tbody{
    width: 100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
}

tr{
    display: flex;
    justify-content: space-around;
    
}

td{
    height: 95px;
    width: 13.75%;
    border: 1px darkblue solid;
    font-size: 30px;
    font-weight: bolder;
}

td:hover{
    background-color: #C8eeff;
}