header{
    width: 90%;
    margin: auto;
}

#year{
    background-color: blue;
    height: 100px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#main-calendar{
    width: 70%;
    height: 500px;
    background-color: #F4fcff;
    border-bottom-left-radius: 10px;
}

#day-details{
    width: 30%;
    height: 500px;
    background-color:#DEF7F4;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1{
    color: white;
}

.seta{
    height: 70px;
    width: 10%;
    color: white;
}

#stDir{
    color: white;
    background-color: transparent;
    border: none;
    padding: 0%;
    font-size: 70px;
}

#stEsq{
    color: white;
    background-color: transparent;
    border: none;
    padding: 0%;
    font-size: 70px;
}

#ano{
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
}

table{
    width: 100%;
    
}

tbody{
    width: 100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
}

tr{
    display: flex;
    justify-content: space-around;
    
}

td{
    height: 95px;
    width: 13.75%;
    border: 1px darkblue solid;
    font-size: 30px;
    font-weight: bolder;
}

td:hover{
    background-color: #C8eeff;
}

.diaAtual{
    color: blue;
    border: blue solid 1px;
}

@media (min-height: 700px) {
    #main-calendar{
        height: 800px;
    }
    #day-details{
        height: 800px;
    }
    #year{
        height: 140px;
    }
    td{
        height: 155px;
        width: 13.9%;
        font-size: 44px;
    }
}

#day-details h1{
    color: rgb(75, 75, 75);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: none;
}

#day-details h2{
    color: rgb(155, 155, 155);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: none;
}

#day-details button{
    width: 80%;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #00C0FF;
    color: honeydew;
    border: none;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    display: none;
}

#day-details .btn{
    width: 100%;
    bottom: 0%;
}

